doctype html
html(lang="en")
  head
    title test pagina
    link(rel="stylesheet", href="css/main.min.css")
    srcipt()
  body
    .container
      .header
        nav
          ul
            li
              a(href="#") Test item 1
            li
              a(href="#") Test item 2
      h1 Mijn pagina
      p Mijn tekst
      .footer
        p Copyright Bert Lempens 2015
      .footer2
        p test